/vendor
/node_modules
/public/hot
/public/storage
/public/*.js
/public/js
/public/*.css
/public/mix-manifest.json
/public/css
/public/.htaccess
/public/fonts/*
/.idea
/.vscode
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tags
tags.lock
tags.temp
/storage/debugbar
